$day: #E6E6E6;
$night: #39393A;
$coral: #FF8552;
$skobeloff: #297373;
$aquamarine: #85FFC7;

.header {
    background-color: $day;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2rem 1rem;
    align-items: center;
    h1 {
        color: $night;
    }
    a {
        color: $skobeloff;
        text-decoration: none;
        transition: all .2s ease;
        border-bottom: 1px solid $day;
    }
    a:hover {
        border-bottom: 1px solid $skobeloff;
    }
    button {
        width: 10rem;
        align-self: flex-end;
        padding: .5rem;
        border-radius: .3rem;
        transition: all .2s ease;
        background-color: $day;
        border: 1px solid $skobeloff;
        color: $skobeloff;
    }
    button:hover {
        background-color: $skobeloff;
        color: $day;
    }
    &.night {
        background-color: $night;
        h1 {
            color: $day;
        }
        a {
            color: $coral;
            border-bottom: 1px solid $night;
        }
        a:hover {
            border-bottom: 1px solid $coral;
        }
        button {
            background-color: $night;
            border: 1px solid $coral;
            color: $coral;
        }
        button:hover {
            background-color: $coral;
            color: $day;
        }
    }
}
