@import './components/header.scss';
@import './components/presentation.scss';
@import './components/works.scss';
@import './components/contact.scss';

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
button {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-weight: 900;
}

h2 {
    font-weight: 700;
}

h3 {
    font-weight: 700;
}

p {
    font-weight: 300;
}